// Main Sections
header {
  background-color: $color--primary;
  
  & nav {
    
    & div button.navbar-toggler {
      border: none !important;

      &:focus {
        box-shadow: none;
      }

      & span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
      }
    }

    @include media-breakpoint-down(md) {
      .navbar-collapse {
        background-color: $color--primary;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 100%;
      }
    }


    & a {
      color: $color--background !important;

      &.nav-link {
        margin: 0.5rem;
        padding: 0 !important;
      }

      &:hover {
        color: white !important;
      }
    }
  }
}

body {
  background-color: $color--background;
  color: white;
  font-family: $font--secondary;
  margin: 0 auto;
  max-width: 1300px;
  min-width: 300px;
}

// Titles
h1,
h2 {
  font-family: $font--primary;
  font-weight: 700 !important;
  margin: 1rem 0;
  text-align: center;
}

span.navbar-brand { // Holidaze
  color: white !important;
  font-family: $font--primary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  color: $color--secondary;
  margin-right: 0.5rem;
}

// Images
#image__banner {
  background-image: url('../../images/bryggen--edit.jpg');
  background-position: 50% 75%;
  background-size: cover;
  height: 27vh;
  width: 100%;
}

// Buttons
.btn-primary {
  &:active {
    background-color: $color--primary;
    border-color: white;
  }

  &:focus {
    background-color: $color--primary;
    border-color: white;
  }

  &:hover {
    border-color: white;
  }
}

.button--form,
.button--choice {
  background-color: $color--primary;
  border: 1px solid $color--primary;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 4px 6px;
  text-decoration: none;
  width: 100px;

  &:hover {
    background-color: rgba(($color--primary), 0.6);
  }

  &:active {
    border-color: $color--primary;
  }
  
  &:focus {
    box-shadow: none !important;
  }

  &:visited {
    background-color: $color--primary;
  }
}

// Effects
a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    font-weight: bold;
  }
}

#root {
  background-color: $color--secondary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 1rem;
}

.error {
  color: red;
  margin-bottom: 2rem;
}

.success {
  background-color: $color--go-ahead-green;
  border: 1px solid $color--go-ahead-green;
  font-size: 1.5em;

  &:hover,
  &:focus,
  &:active {
    background-color: $color--go-ahead-green !important;
    border-color: white;
    box-shadow: none !important;
  }
}

.active {
  border-bottom: 2px solid white;
  color: white !important;
  font-weight: bold;
}
