// Colors
$color--primary: #EE7A2D;
$color--secondary: hsl(13, 59%, 11%);
$color--background: #E0E0DE;
$color--dark: #0B090E;
$color--card-display: #4B322B;
$color--go-ahead-green: #0D875F;

// Fonts
$font--primary: 'Roboto', sans-serif;
$font--secondary: 'Open Sans', sans-serif;
